@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --background: 231 55% 100%;
        --foreground: 231 75% 5%;
        --muted: 201 10% 85%;
        --muted-foreground: 201 5% 26%;
        --popover: 231 55% 100%;
        --popover-foreground: 231 75% 5%;
        --card: 231 55% 100%;
        --card-foreground: 231 75% 5%;
        --border: 231 12% 95%;
        --input: 231 12% 95%;
        --primary: 231 78% 45%;
        --primary-foreground: 0 0% 100%;
        --secondary: 201 78% 45%;
        --secondary-foreground: 0 0% 100%;
        --accent: 261 78% 45%;
        --accent-foreground: 0 0% 100%;
        --destructive: 5 90% 37%;
        --destructive-foreground: 5 90% 97%;
        --ring: 231 78% 45%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 231 55% 2%;
        --foreground: 231 30% 97%;
        --muted: 201 10% 15%;
        --muted-foreground: 201 5% 74%;
        --popover: 231 55% 2%;
        --popover-foreground: 231 30% 97%;
        --card: 231 55% 2%;
        --card-foreground: 231 30% 97%;
        --border: 231 12% 11%;
        --input: 231 12% 11%;
        --primary: 231 78% 45%;
        --primary-foreground: 0 0% 100%;
        --secondary: 201 78% 45%;
        --secondary-foreground: 0 0% 100%;
        --accent: 261 78% 45%;
        --accent-foreground: 0 0% 100%;
        --destructive: 5 90% 58%;
        --destructive-foreground: 0 0% 100%;
        --ring: 231 78% 45%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
